$accent-white: #ffffff;
$accent-light: #f4d8cd;
$accent-medium: #edb183;
$accent-dark: #1e555c;
$accent-darkest: #372d36;
$accent-bright: #d1f2ff;

$accent-error: #f15152;

$type-primary-color: $accent-darkest;

$transition-default: 300ms;