.icon {
    width: 1.25rem;
    transition: transform $transition-default;

    @include breakpoint(xs) {
        width: 1rem;
    }

    &-menu {
        @extend .icon;
    }

    &-info {
        @extend .icon;
    }

    &-close {
        @extend .icon;
    }

    &-cube {
        @extend .icon;
    }

    &-dodecahedron {
        @extend .icon;
    }
    
    &-tetrahedron {
        @extend .icon;
    }

    &-icosahedron {
        @extend .icon;
    }
}